@charset "utf-8";

/* Általános */

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.container {
    margin-top: 2%;
	padding: 15px;

}

.navbar {
  background-color: #131d16 !important;
}
.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}
 
/* Főoldal */

.fo {
    background-image: url(kepek/kezdolaphatter.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* PAYDAY 3 */

.pd3marginok {
    margin-top: 25px;
    margin-bottom: 25px;
}

.pd3header {
    background-image: url(kepek/pd3-main-keyart-guns-original.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 850px
}

.pd3vonal {
    border: none;
    border-top: 3px solid #ff7a15;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pd3logo {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.pd3osszefoglalo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.pd3osszefoglaloszov {
  flex: 1 1 55%;
}

.pd3steam {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-end;
}

.pd3steam img {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-top: 75px;
}

.pdimg {
  width: 500px;
  height: auto;
}


.pd3 {
    background-color: black;
    background-size: cover;
    color: white;

}

.accordion-button,
.accordion-body {
  background-color: #11271a;
  color: white;
}

.accordion-body {
  text-align: left;
}

.accordion-body img {
  float: right;
  max-width: 45%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 10px;
}

.accordion-body audio {
  display: block;
  float: right;
  clear: both;
  margin-top: 10px;
}

.nagykep {
  width: 100vw;
  height: auto;
  display: block;
}

.pdgangkepcontainer {
  position: relative;
  width: 100%;
}
.pd3szovegtetejen {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  max-width: 40%;
}

.pdelozetesek {
  width: 32%;
  height: auto;
  margin-right: 1%;
  margin-top: 10px;
}


/* DOOM: The Dark Ages */

.doom {
    background-image: url(kepek/doom_keyart.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Grand Theft Auto 5 */

#GTA5 {
    background-image: url(GTA5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}

/* Red Dead Redemption II */

#RedDead {
    background-image: url(red\ dead.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}

/* Assassin's Creed: Odyssey */

#Assassin {
    background-image: url(creed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: black;
}


