@charset "utf-8";

/* Általános */

.container {
    margin-top: 2%;
	padding: 15px;

}
 
/* Főoldal */

/* PAYDAY 3 */

.pdimg {
  width: 500px;
  height: auto;
}

.pd3 {
    background-image: url(kepek/pd3_bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    
}

/* DOOM: The Dark Ages */

.doom {
    background-image: url(kepek/doom_keyart.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Grand Theft Auto 5 */

#GTA5 {
    background-image: url(GTA5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* Red Dead Redemption II */

#RedDead {
    background-image: url(red\ dead.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

/* Assassin's Creed: Odyssey */

#Assassin {
    background-image: url(creed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: white;


}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.fo {
    background-image: url(kepek/kezdolaphatter.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}